body {
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", sans-serif;
  color: $grey;
  background-color: $base;
  height: 100%;
  overflow-x: hidden;
}

a {
  transition: color .3s, opacity .3s, background-color .3s;
}
a:hover {
  text-decoration:none;
}
a:focus {
  outline: none;
  text-decoration:none;
}
