#setting {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;

  .footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: block; 
  }

  .main {
    display: block;
    flex: 1;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 55px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    height: 55px;
  }
}
