body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $grey;
  background-color: $base;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.6;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
  transition: color .3s, opacity .3s, background-color .3s;
}
a:hover {
  text-decoration:none;
}
a:focus {
  outline: none;
  text-decoration:none;
}

a img {
    border: 0;
}

.weui_cell_hd {
  .fa,
  .fa-icon,
  img {
    margin-right: 5px;
    display: block;
  }
}