.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  
  .main {
    flex: 1;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .main-footer {
    margin-bottom: 55px;
    padding-bottom: $weuiCellsMarginBottom;
  }
}
.weui_cell_hd {
  .fa,
  .fa-icon,
  .icon,
  img {
    margin-right: 5px;
    vertical-align: top;
  }
}
