// font size
$fzExplain: px2rem(12px);
$fzNormal: px2rem(14px);
$fzPrimary: px2rem(16px);
$fzTitle: px2rem(18px);
$fzBlock: px2rem(24px);
$fzBlockTitle: px2rem(30px);

// colors of gray
$empty: #fff;
$pale: #cacaca;
$grey: #6c6c6c;
$dark: #404040;
$base: #f7f7fa;

// the others color
$light: #f4a61d;
$active:#FF6633;
$warning: #e42253;
$primary: #00a9ca;
$success: #3dac67;


//weui
$weuiCellBg: #fff;
$weuiCellBorderColor: #d9d9d9;
$weuiCellGapV: 10px;
$weuiCellGapH: 15px;
$weuiCellInnerGapH: .35em;
$weuiCellHeight: 44px;
$weuiCellFontSize: 17px;
$weuiCellTipsFontSize: 14px;
$weuiCellLabelWidth: 105px;

$weuiCellLineHeight: ($weuiCellHeight - 2 * $weuiCellGapV) / $weuiCellFontSize; // 高度为44px，减去上下padding的行高
$weuiCellsMarginTop: 20px / $weuiCellFontSize * 1em;
$weuiCellsMarginBottom: $weuiCellsMarginTop;