// font size
$fzExplain: 12px;
$fzNormal: 14px;
$fzPrimary: 16px;
$fzTitle: 18px;
$fzBlock: 24px;
$fzBlockTitle: 30px;

// colors of gray
$empty: #fff;
$pale: #cacaca;
$grey: #6c6c6c;
$dark: #404040;

// the others color
$light: #f4a61d;
$active:#FF6633;
$warning: #e42253;
$primary: #00a9ca;
$success: #3dac67;
